/* html {
	position: relative;
} */

/* head */
.navbar-default {
    background-color: #337ab7;
    border-color: #337ab7;
    color: white;
}

.navbar-default .navbar-brand {
color: white;
}

.navbar-default .navbar-nav>li>a {
color: white;
}

.luhur {
    height: 520px;
    background-image: url(../img/smkmerahputih1.jpg);

    background-size: cover;
	background-attachment: fixed;
	/* background-position: 0 -140px; */
	overflow: hidden;
	/* position: relative; */
    
    background-color: gray;
}

.jumbotron img {
    margin: -20px 0 20px;
	width: 200px;
	/* border: 5px solid #ddd; */
}

section {
	min-height: 600px;
}


.navbar-default {
margin-bottom: 0;
}



/* index */

.block-web.primary-box {
    background: #4eb2d8;
    padding: 5px;
    color: white;
}

.navbar-default {
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 0;
}

.login {
    background: #2e6da4;
}

.jumbotron .daftar {
    background-color: #e4e4e4;
}

.petunjuk {
    border-radius: 0px;
}


footer{
    background-color: #337ab7;
}