
.badge {
    margin-left: 3px;
}


section {
  padding: 50px 0;
  min-height: 420px;
}

/* psb */
.luhur {
  /* height: 580px; */

  /* min-height: 20px; */
  background-image: url(../img/smkmerahputih1.jpg);
  height: 100vh;
  min-height: 350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* background-size: cover;
  background-position: 0 10px; */
  background-attachment: fixed;
  overflow: hidden;
  /* position: relative; */
  

}

.jumbotron img {
  margin: -20px 0 20px;
  width: 200px;
/* border: 5px solid #ddd; */
}

.login {
  background: #2e6da4;
}

.container .psb-login {
  margin-top: 100px;
}

/* #info .container .row { */
  /* height: 350px; */
  /* background: #2e6da4; */
/* } */

/* footer { */
  /* border-top: 1px solid #C2B8B8; */
  /* height:40px; */
  /* margin-top:-30px; */
  /* min-height: 50px;
  padding-top: 60px; */
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
   */
  /* z-index: 99999999; */
  /* position: fixed; */
/* } */

/* main > .container {
  padding-top: 60px;
} */

/* 
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color:#fff;
} */

/* 
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
} */


/* body,html{
  height:100%;
  position: relative;
} */
/* 
body {
  padding-top: 60px;
} */

.container{
  min-height:100%;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/* Sticky Footer Classes */

/* #page-content {
  flex: 1 0 auto;
} */

/* #sticky-footer {
  flex-shrink: none;
} */



/* Other Classes for Page Styling */
/* 
body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
} */


/* galeri */

/* body {
  background-color:#1d1d1d !important;
  font-family: "Asap", sans-serif;
  color:#989898;
  margin:10px;
  font-size:16px;
} */

#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}


.green{
  background-color:#6fb936;
}
.thumb{
    margin-bottom: 30px;
}

.page-top{
    margin-top:85px;
}

   
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.modal-header {

  border-bottom: none;
}
.modal-title {
    color:#000;
}
.modal-footer{
  display:none;  
}
  

footer{
  background-color: #337ab7;
}


/* Dropdown */

/* Change this breakpoint if you change the breakpoint of the navbar */
/* 
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
} */

/* Other styles for the page not related to the animated dropdown */
/* 
body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
} */